@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:rgb(247, 253, 247);
}
/* src/components/Footer.css */
.footer {
  font-size:small;
  padding: 10px 0;
  text-align: center;
  
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
  color: #6c757d;
}